@use 'variables' as v;

/* Inputs */
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 1.2rem 1.8rem;
    margin: 1.6rem 0;
    border: .2rem solid #ddd;
    border-radius: 3rem;
    font-size: 1.6rem;
    transition: border 0.3s ease;

    &:focus {
        outline: none;
        border-color: v.$mainc;
    }
}

input + input {
    margin-top: 0 !important;
}
/* Estilo para mostrar el mensaje de error */
.error {
    color: red;
    margin-top: 15px;
    font-size: 1.6rem;
}

.agregar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    width: 70%;

    input[name="titulo"] {
        grid-column: span 4;
    }

    input[name="imagenes[]"] {
        margin-bottom: 2rem;
        cursor: pointer;
        border: .2rem solid v.$mainc;
        border-radius: 3rem;
        display: flex;
        margin-top: 1.6rem !important;
        padding: 1.2rem 1.8rem;
    }

    textarea {
        grid-column: span 4;
        resize: none;
    }

    fieldset {
        grid-column: span 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-content: center;
        border: none;

        label {
            cursor: pointer;
            display: flex;
            gap: 1rem;
            justify-content: center;
        }
    }

    input[name="precio"] {
        grid-column: span 2;
    }

    select {
        grid-column: span 3;
    }

    input[name="ubicacion"] {
        grid-column: span 3;
    }

    input[name="tamano"] {
        grid-column: span 2;
    }

    button {
        grid-column: span 5;
    }
}

.listado {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;

    fieldset {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 0;
        border: none;

        label {
            text-wrap: nowrap;
        }

        select {
            margin: 0;
        }
    }

    button {
        width: fit-content;
        min-width: auto;
        font-size: 1.4rem;
        border-radius: 3rem;
    }
}

.tipo-propiedades {
    display: flex;
    gap: 2rem;

    input {
        margin: 0;
    }

    button {
        height: fit-content;
    }
}