@use 'base/variables' as v;

.clientes-content {
    width: 90%;
}

.clientes-title {
    margin-top: 3.4rem;
    margin-bottom: 2rem;
}

.clientes-editar {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3.4rem;

    h1 {
        margin-bottom: 0;
    }

    a {
        font-size: 2rem;

        i {
            margin-right: 0.5rem;
        }
    }
}