@use 'base/variables' as v;
@use "sass:color";

.dashboard-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 8;
    position: relative;
}

.welcome-title {
    font-size: 36px;
    font-weight: bold;
    color: v.$black;
    margin-bottom: 20px;
}

.welcome-description {
    font-size: 18px;
    color: #7f8c8d;
}

.dashboard-table {
    width: 100%;
    padding: 0 3rem;
    margin-top: 3rem;
    border-collapse: collapse;
    
    thead {
        th {
            background: color.adjust(v.$grey, $lightness: -20%);
            padding: 10px;
            color: v.$white;
            border: 1px solid #ddd;
        }
    }

    tbody {
        td {
            padding: 10px;
            border: 1px solid #ddd;
            vertical-align: middle;
        }

        tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #eaeaea;
        }
    }

    td {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    th, td {
        border: 1px solid #ddd;
    }
}